form {

    /*Centralizar*/

   margin-left: 45em;
   margin-top: 20em;
    width: 400px;

    /*Bordas*/
    align-items: center;
    padding: 1em;
    border: 1px solid #a17373;
    border-radius: 1em;
}

form div + div {
  
    margin-top: 1em;

}

label {

    /*Para as labels terem o mesmo tamanho e alinhadas*/

    display: inline-block;
    width: 90px;
    text-align: right;
}

input, textarea {

    font: 1em sans-serif;

    /*Para todos os campos de texto ficarem com o mesmo tamanho*/

    width: 300px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    border: 1px solid #a17373;
}

input:focus, testearea:focus {

    /*Dar destaque para os elementos ativos*/

    border-color:#ff0000;
}

textarea {

    vertical-align: top;
    height: 5em;

}

.button {
    padding: 5px;
    margin-top: 10px;
    margin-left: 150px;
    background: #a17373;
    color: white;
}
